/* --- Base Styles --- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	display: flex;
	flex-flow: row wrap;
	background-color: hsl(270, 20%, 96%);
	font-family: "Rubik", sans-serif;
}

main {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

h1 {}

h2 {}

h3 {
	margin-left: 1em;

}

h4 {
	margin-bottom: 0.1em;
	font-size: 0.8em;
	width: 100%;
}

p {}

.main-1 {
	background-color: white;
	width: 67%;
	max-width: 240px;
	min-width: 180px;
	padding: 0.5em;
	margin: 1em 0em;
	border-radius: 2.5em;
}

.content-wrapper-main {
	background-color: hsl(270, 20%, 96%);
	border-radius: 2em;
	padding-bottom: 0.3em;
	overflow: hidden;
}

.content-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.box-1 {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
	color: white;
	font-size: 0.8em;
	border-radius: 0.5em;
	width: 100%;
	overflow: hidden;

}

.white-box {
	background-color: white;
	width: 50%;
	height: 1.5em;
	border-radius: 1em;
	margin-top: -0.5em;
}

.box-1 .content-wrapper {
	flex-flow: row nowrap;
}

.box-1 img {
	width: 1em;
	color: white;
}

.box-1 .avatar {
	width: 2em;
	border: solid white 0.15em;
	border-radius: 3em;
	margin: 0 0.5em;
}

.box-1A {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.box-1 p {
	font-size: 0.7em;
	color: lightgray;
	margin-top: 0.1em;
}

.dots {
	margin-right: 1em;
	width: 1em;
}

.box-2 {}

.box-2 p {
	padding: 0.8em;
	width: 67%;
	font-size: 0.6em;
	color: hsl(276, 55%, 52%);
	background-color: hsl(252, 60%, 93%);
	border-radius: 1em;
	margin-left: 1em;
}

.box-2 .text-1 {
	margin-bottom: 0.5em;
}

.box-2 .text-2 {
	margin-top: 0.5em;
}

.box-3 {
	display: flex;
	justify-content: flex-end;
}

.box-3 .content-wrapper {
	width: 67%;
	justify-content: flex-end;
	margin-top: 1em;
}

.box-3 img {
	width: 25%;
	margin: 0 0.2em;
	border-radius: 0.5em;
}

.box-3 p {
	padding: 0.8em;
	font-size: 0.55em;
	color: hsl(0, 0%, 35%);
	background-color: white;
	border-radius: 1em;
	margin-right: 1em;
}

.box-3 .text-1 {
	margin-bottom: 0.5em;
}

.box-3 .text-2 {
	margin-top: 0.5em;
}

.box-4 {}

.box-4 .text-1 {
	padding: 0.8em;
	width: 67%;
	font-size: 0.6em;
	color: hsl(276, 55%, 52%);
	background-color: hsl(252, 60%, 93%);
	border-radius: 1em;
	margin-left: 1em;
}

.box-4 .text-2, .text-3 {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
	border-radius: 0.5em;
	color: white;
	margin-left: 0.5em;
}

.box-4 .text-3 {
	margin-top: 0.5em;
}

.text-2 p, .text-3 p {
	font-size: 0.6em;
	margin: 1em 2em 1em 1em;
}

.text-3 p {
	margin-right: 4em;
}

.box-4 img {
	margin-left: 0.5em;
	width: 0.8em;
}

.box-4 h2 {
	font-size: 0.8em;
	margin: 0 1em 0 0;
}

.box-5 {
	margin: 1em 0.5em 0.5em;
}

.box-5 .content-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 1em;
}

.box-5 p {
	margin: 0.5em 0;
}

.box-5 .text-1 {
	font-size: 0.6em;
	margin-left: 1.5em;
	color: gray;
}

.box-5 .text-2 {
	margin: 0.2em 0.5em 0.2em 0;
	background-color: hsl(271, 36%, 24%);
	padding: 0.3em 0.65em;
	border-radius: 1em;
	color: white;
	font-weight: 600;
}

.main-2 {
	width: 80%;
	max-width: 400px;
}

.main-2 .content-wrapper-main {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background-color: transparent;
	margin: 0 2em;
}

.main-2 h1 {
	font-weight: 500;
	font-size: 2.5em;
	color: hsl(271, 36%, 24%);
}

.main-2 p {
	color: gray;
	line-height: 2em;
	text-align: center;
}



footer {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 0.5em;
	color: gray;
}

footer a {
	color: hsl(271, 36%, 24%);
}



/* ===== Tablet Styles ===== */
@media only screen and (min-width: 768px) {

	main {}



/* ===== Desktop Styles ===== */
@media only screen and (min-width: 1200px) {


	
