/* --- Base Styles --- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {}

main {}



/* ===== Tablet Styles ===== */
@media only screen and (min-width: 768px) {

	main {}



/* ===== Desktop Styles ===== */
@media only screen and (min-width: 1200px) {


	
